body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control {
  margin: 0 auto;
  width: 300px;
}

li {
  list-style: none;
}

form {
  margin: 37px auto;
}

.dataContainer {
  display: grid;
  justify-items: start;
  place-content: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;
  padding: 24px 76px;
}